In [1]:
import io
import pandas as pd
import re
import numpy as np

with io.open("imdb/imdb_urls.txt", "r", encoding="utf-8") as my_file:
    movie_file = my_file.read() 

links = []
book_names = []

for line in movie_file.split("\n"):
    arr = line.split('\t<>\t')
    re_obj = re.search("(.*)[?]", 'http://'+arr[1])
    link = re_obj.group(1)
    links.append(link.strip())
    re_obj = re.search("(.*?)(\(|$)", arr[0])
    bname = re_obj.group(1)
    book_names.append(bname.strip())
    
links = np.array(links)
book_names = np.array(book_names)

df = pd.DataFrame(data=links,columns=['Link'])
df['New Book Name'] = pd.DataFrame(data=book_names,columns=['New Book Name'])

dataframe = pd.read_csv('imdb/movie_data.csv', header=None, names=['Link','Budget','Gross','Opening'])

dataframe['Link'] = dataframe['Link'].map(lambda x: re.search("(.*?)business", x).group(1).strip())

Merged = pd.merge(df, dataframe, how='right', on='Link', suffixes=('_x', '_y'))

In [2]:
Merged = Merged.drop_duplicates()
Merged = Merged.set_index([range(Merged['Link'].values.size)])
book_data = pd.read_csv('goodreads/goodreads_data_clean.csv', encoding='utf-8')
Merged = pd.merge(Merged, book_data, how='left', on='New Book Name', suffixes=('_x', '_y'))
Merged = Merged.drop('Unnamed: 0', axis=1)
Merged = Merged.drop_duplicates()
Merged = Merged.set_index([range(Merged['Link'].values.size)])

In [3]:
Merged.head()

,Link,New Book Name,Budget,Gross,Opening,Awards List,Book Name,Characters,Genres,Num_reviews,...,Genre_Nonfiction,Genre_War,Genre_European Literature,Genre_Biography,Genre_Womens Fiction,Genre_Suspense,Genre_Chick Lit,Genre_Adult,Genre_Autobiography,Genre_History
0,http://www.imdb.com/title/tt0373889/,Harry Potter and the Order of the Phoenix,150000000,292004738,77108414,\r\nBram Stoker Award for Works for Young Read...,Harry Potter and the Order of the Phoenix (Har...,"[Sirius Black, Draco Malfoy, Ron Weasley, Petu...","[Childrens, Fantasy, Novels]",25751.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,http://www.imdb.com/title/tt1099212/,Twilight,37000000,191465414,69637740,"\r\nGeorgia Peach Book Award (2007), Buxtehude...",Twilight (Twilight #1),"[Edward Cullen, Jacob Black, Laurent, Renee, B...","[Young Adult, Fantasy, Romance, Paranormal, Va...",93258.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,http://www.imdb.com/title/tt0330373/,Harry Potter and the Goblet of Fire,150000000,290013036,102335066,"\r\nHugo Award for Best Novel (2001), Mythopoe...",Harry Potter and the Goblet of Fire (Harry Pot...,"[Sirius Black, Draco Malfoy, Ron Weasley, Petu...","[Fantasy, Young Adult, Fiction, Fantasy, Magic...",27770.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,http://www.imdb.com/title/tt0304141/,Harry Potter and the Prisoner of Azkaban,130000000,249358727,93687367,\r\nBram Stoker Award for Best Work for Young ...,Harry Potter and the Prisoner of Azkaban (Harr...,"[Sirius Black, Draco Malfoy, Ron Weasley, Petu...","[Fantasy, Young Adult, Fiction]",32160.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,http://www.imdb.com/title/tt0241527/,Harry Potter and the Sorcerer's Stone,125000000,317557891,90294621,\r\nMythopoeic Fantasy Award for Children's Li...,Harry Potter and the Sorcerer's Stone (Harry P...,"[Draco Malfoy, Ron Weasley, Petunia Dursley, V...","[Fantasy, Young Adult, Fiction]",67668.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
dataframe = pd.read_csv('imdb/movie_data_releasedate.csv', header=None, names=['Link','Release Date'])

dataframe['Link'] = dataframe['Link'].map(lambda x: re.search("(.*)ref", x).group(1).strip()[:-1])

dataframe = dataframe.drop_duplicates()

In [5]:
dataframe.head()

                                   Link      Release Date
0  http://www.imdb.com/title/tt0373889/      11 July 2007
1  http://www.imdb.com/title/tt1099212/  21 November 2008
2  http://www.imdb.com/title/tt0330373/  18 November 2005
3  http://www.imdb.com/title/tt0304141/       4 June 2004
4  http://www.imdb.com/title/tt0241527/  16 November 2001

In [6]:
Merged = pd.merge(Merged, dataframe, how='left', on='Link', suffixes=('_x', '_y'))

In [7]:
Merged.head()

,Link,New Book Name,Budget,Gross,Opening,Awards List,Book Name,Characters,Genres,Num_reviews,...,Genre_War,Genre_European Literature,Genre_Biography,Genre_Womens Fiction,Genre_Suspense,Genre_Chick Lit,Genre_Adult,Genre_Autobiography,Genre_History,Release Date
0,http://www.imdb.com/title/tt0373889/,Harry Potter and the Order of the Phoenix,150000000,292004738,77108414,\r\nBram Stoker Award for Works for Young Read...,Harry Potter and the Order of the Phoenix (Har...,"[Sirius Black, Draco Malfoy, Ron Weasley, Petu...","[Childrens, Fantasy, Novels]",25751.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11 July 2007
1,http://www.imdb.com/title/tt1099212/,Twilight,37000000,191465414,69637740,"\r\nGeorgia Peach Book Award (2007), Buxtehude...",Twilight (Twilight #1),"[Edward Cullen, Jacob Black, Laurent, Renee, B...","[Young Adult, Fantasy, Romance, Paranormal, Va...",93258.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21 November 2008
2,http://www.imdb.com/title/tt0330373/,Harry Potter and the Goblet of Fire,150000000,290013036,102335066,"\r\nHugo Award for Best Novel (2001), Mythopoe...",Harry Potter and the Goblet of Fire (Harry Pot...,"[Sirius Black, Draco Malfoy, Ron Weasley, Petu...","[Fantasy, Young Adult, Fiction, Fantasy, Magic...",27770.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18 November 2005
3,http://www.imdb.com/title/tt0304141/,Harry Potter and the Prisoner of Azkaban,130000000,249358727,93687367,\r\nBram Stoker Award for Best Work for Young ...,Harry Potter and the Prisoner of Azkaban (Harr...,"[Sirius Black, Draco Malfoy, Ron Weasley, Petu...","[Fantasy, Young Adult, Fiction]",32160.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4 June 2004
4,http://www.imdb.com/title/tt0241527/,Harry Potter and the Sorcerer's Stone,125000000,317557891,90294621,\r\nMythopoeic Fantasy Award for Children's Li...,Harry Potter and the Sorcerer's Stone (Harry P...,"[Draco Malfoy, Ron Weasley, Petunia Dursley, V...","[Fantasy, Young Adult, Fiction]",67668.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16 November 2001

In [8]:
print len(Merged)
print len(Merged.groupby('Link', as_index=False).max())

1477
1362

In [9]:
import datetime
from datetime import datetime
from dateutil import parser

def convert_to_datetime_publishdate(x):
    if(x!='None'): 
        try:
            arr = x.split(' ')
            x = arr[0].strip()+' '+re.search('(.*?)\D', arr[1].strip()).group(1)+' '+arr[2].strip()
            #print type(x)
            #datetime_obj = datetime.strftime(x , '%B %d %Y')
            #print type(datetime_obj)
            datetime_obj = parser.parse(x)
            return datetime_obj
        except Exception:
            try:
                arr = x.split(' ')
                x = arr[0].strip()+' '+arr[1].strip()
                #print x
                #datetime_obj = datetime.strptime(x, '%B %Y')
                datetime_obj = parser.parse(x)
                return datetime_obj
            except Exception:
                try:
                    arr = x.split('-')
                    x = arr[0].strip()+' '+arr[1].strip()
                    #print x
                    #datetime_obj = datetime.strptime(x, '%b %y')
                    datetime_obj = parser.parse(x)
                    return datetime_obj
                except Exception:
                    try:
                        x = x.strip()
                        #print x
                        #datetime_obj = datetime.strptime(x, '%Y')
                        datetime_obj = parser.parse(x)
                        return datetime_obj
                    except Exception:
                        try:
                            x = x.strip()
                            x = '0'+x
                            #print x
                            #datetime_obj = datetime.strptime(x, '%Y')
                            print x
                            datetime_obj = parser.parse(x)
                            return datetime_obj
                        except Exception:
                            return np.datetime64('NaT')
    else:
        return np.datetime64('NaT')
    

def convert_to_datetime_releasedate(x):
    if(x!='nan'):
        try:
            arr = x.split(' ')
            x = arr[0].strip()+' '+arr[1].strip()+' '+arr[2].strip()
            datetime_obj = datetime.strptime(x , '%d %B %Y')
            return datetime_obj
        except IndexError:
            try:
                arr = x.split(' ')
                x = arr[0].strip()+' '+arr[1].strip()
                datetime_obj = datetime.strptime(x, '%B %Y')
                return datetime_obj
            except IndexError:
                x = x.strip()
                datetime_obj = datetime.strptime(x, '%Y')
                return datetime_obj
    else:
        return x

In [10]:
# Merged['publish_date'][Merged['publish_date'].astype('str') == 'None'] = np.datetime64('NaT')
# Merged['publish_date'] = np.where(Merged['publish_date'].astype(str)=='None', 'green', 'red')

Merged['publish_date'] = Merged['publish_date'].fillna(np.datetime64('NaT'))
Merged['publish_date'] = Merged['publish_date'].astype('str').map(convert_to_datetime_publishdate)
Merged['publish_date']= pd.to_datetime(Merged['publish_date'], coerce=True)

Merged['Release Date'] = Merged['Release Date'].astype('str').map(convert_to_datetime_releasedate)

0Sep 00

/home/rakshit/miniconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning: the coerce=True keyword is deprecated, use errors='coerce' instead

In [11]:
Merged['Time Diff'] = Merged['Release Date']-Merged['publish_date']
Merged['Time Diff'].head()

0   1481 days
1   1143 days
2   1959 days
3   1793 days
4         NaT
Name: Time Diff, dtype: timedelta64[ns]

In [12]:
Merged.to_csv('Merged_Dataset.csv', encoding='utf-8')